name: Xcode - Build and Analyze

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    name: Build and analyse default scheme using xcodebuild command
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build and Archive
        run: |
          cd DVIA-v2
          xcodebuild clean archive -workspace DVIA-v2.xcworkspace \
            -scheme DVIA-v2 \
            -configuration Release \
            -archivePath build/DVIA-v2.xcarchive
